body {
    background-color: black;
    color: white;
}

.banner, #course-content,
 #transform-world, #professional-challenges {
    border-bottom: 1px solid #33A8DB;
 }

.banner {
    height: 60vh;

    padding-top: 60px;

    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6),rgba(49, 168, 221, .2),rgba(0, 0, 0, 0.6)),
    url('../images/banner.png');
}

.banner-content {
    width: 510px;
    height: 400px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.banner-content h1{
    text-transform: uppercase;
    font-size: 2.5rem;

    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-content p {
    letter-spacing: 1px;
    text-align: center;
}

.banner-content button {
    width: 60%;
    padding: 20px;

    font-size: 1rem;

    color: #33A8DB;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;

    background-color: transparent;
    border-image: linear-gradient(#3ba1cd,#1572b7);
    border-image-slice: 10;
}

h2 {

    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 7px;

    color: #33A8DB;
}

#course-content {
    height: 60vh;
    width: 100%;

    margin: 0;
    padding: 65px 20%;
    text-align: center;
}

#course-content > h2 , p {
    margin-bottom: 1.5rem;  
}

.module {
    width: 70%;

    margin: 1.5rem auto;
    padding: 1rem;
    border: 1px solid #33A8DB;
    border-radius: 2rem;
    
    background-color: #252525;
    box-shadow: inset -2px 6px 4px rgb(0, 0, 0, .4);
}

.module span {
    color: #33A8DB;
}

#transform-world {
    height: 40vh;

    padding: 2rem 3rem;

    background-image: url('../images/woman-code.png');
    background-size: cover;
    background-position: center;
    background-attachment:fixed;


}

#transform-world p {
    width: 18%;
    margin: 5rem 4rem;

    font-weight: bolder;
    font-size: 2.5rem;
    text-transform: lowercase;

    text-shadow: 3px 2px #33A8DB;
}

#professional-challenges {
    padding: 2rem 20rem;

    text-align: center;
}

#professional-challenges img {
    margin: 2rem 0;
}

footer {
    background-image: linear-gradient(#000000, #33A8DB00, #33A8DB33, #33A8DB33);
    background-size: contain;

    text-align: center;   
}

footer p {
    margin-bottom: 0;
}