body {
    background-color: black;
    color: white;
}

.banner {
    height: 60vh;

    padding-top: 60px;

    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6),rgba(49, 168, 221, .2),rgba(0, 0, 0, 0.6)),
    url('../images/banner.png');

    border-bottom:  1px solid #33A8DB;
}

.banner-content {
    width: 500px;
    height: 400px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.banner-content h1{
    text-transform: uppercase;
    font-size: 2.5rem;

    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-content p {
    letter-spacing: 1px;
    text-align: center;
}

.banner-content button {
    width: 60%;
    padding: 20px;

    font-size: 1rem;

    color: #33A8DB;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;

    background-color: transparent;
    border-image: linear-gradient(#3ba1cd,#1572b7);
    border-image-slice: 10;
}

